html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
footer{
    padding: 10px;
    text-align: center;
    font-size: large;
}
.sidebar .sidebar-nav {
    padding-left: 20px;
}
#index-title{
    font-size: 30px;
    vertical-align: bottom;
}
#index-logo{
    vertical-align: bottom;
}
.app-name-link img{
    vertical-align: bottom;
}
.app-name-link span{
    vertical-align: bottom;
}
.logo-img-item{
    margin: 0 10px;
    width: 35px;
    height: 35px;
}
#busuanzi_container_site_pv{
    font-size: large;
    font-weight: bold;
}
#busuanzi_container_site_uv{
    font-size: large;
    font-weight: bold;
}